/* Nav.module.scss */
.nav {
  padding: 20px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
    margin-top: 16px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
}

.img-container {
  margin-top: 16px;
  width: 17%;
}

.title-container {
  margin-top: 16px;
  text-align: center;
  // font-size: 2rem;
  text-transform: uppercase;
}